# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Data
uploads/*
!uploads/text.csv

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
